//左侧菜单宽度
$base-menu-width: 240px;
//最小宽度
$base-menu-min-width:50px;
//左侧菜单背景颜色
$base-menu-background: #001529;
//顶部导航栏的高度
$base-tabbar-hight: 50px;
//项目标题
$base-nav-hight:30px;
//p标签
$base-nav-p:20px;